aniso8601==8.1.1
appdirs==1.4.4
autopep8==1.5.4
certifi==2020.12.5
click==7.1.2
cmake==3.18.4.post1
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
Flask-RESTful==0.3.8
importlib-metadata==3.3.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mysql-connector-python==8.0.21
numpy==1.19.3
Pillow==8.0.1
pipenv==2020.11.15
pycodestyle==2.6.0
pytz==2021.1
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3
virtualenv==20.2.2
virtualenv-clone==0.5.4
Werkzeug==1.0.1
zipp==3.4.0
